<% include ../partials/header %>

<div class="row">
  <div class="col-md-3 col-sm-6">
    <div class="thumbnail">
      <img src="<%= cat.image %>" />
      <div class="caption">
        <h4><%= cat.name %></h4>
        <p><%= cat.age %></p>
        <p><%= cat.sex %></p>
        <p><%= cat.breed %></p>
        <p><%= cat.description %></p>
        <a class="btn btn-xs btn-warning" href="/cats/<%= cat._id %>/edit"
          >Edit</a
        >
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
